[Unit]
Description=Systemd service for running "run_on_reboot_Pi4_HomeMonitor.sh" file

[Service]
User=pi
ExecStart=sudo bash /bin/run_on_reboot_Pi4_HomeMonitor.sh

[Install]
WantedBy=basic.target
